body {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: -0.015em;

  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.8);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  width: 1440px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  outline: 2px solid tomato;
}

/* Header */
.page-header {
  background-color: rgba(210, 210, 210, 0.81);
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-right: 70px;

  font-family: Comfortaa, cursive;
  font-size: 28px;
  line-height: 1.14;

  color: #000000;
}

.logo:hover,
.logo:focus {
  color: #18a0fb;
}

.logo-img {
}

.syte-nav {
  display: flex;
  gap: 40px;
  padding-top: 21px;
  padding-bottom: 21px;
  margin-right: auto;
}

.syte-nav .link {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;

  color: #18a0fb;
}

.syte-nav .link:hover,
.syte-nav .link:focus {
  color: #000000;
}

.auth-nav {
  display: flex;
  gap: 12px;
  align-items: center;
}

.btn {
  display: inline-block;
  padding: 11px 42px;
  /* min-width: 130px; */

  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  /* Зробили прозрачну рамку */
  border: 1px solid transparent;
  border-radius: 6px;
}

.btn-width {
  color: #18a0fb;
  background-color: #ffffff;
  border-color: #18a0fb;
}
.btn-blue {
  padding: 11px 34px;

  color: #ffffff;
  background-color: #18a0fb;
}

/* Section  1*/
.section-hero {
  padding-top: 632px;
  padding-bottom: 156px;
  text-align: center;
}

.hero {
  margin-bottom: 40px;

  font-weight: 400;
  font-size: 56px;
  line-height: 1.43;

  color: #000000;
}
/* Section 2 */
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-text {
  margin-bottom: 60px;

  font-weight: 400;
  font-size: 48px;
  line-height: 1.5;

  color: #000000;
}

.item {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.item-link {
  width: calc((100% - 24px) / 2);
}

.title {
  margin-bottom: 24px;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;

  color: #000000;
}

.text {
  margin-bottom: 32px;
}
/* Section 3 */
.section.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.work-list > .item {
  padding-top: 80px;
  padding-bottom: 80px;
}

.work-list > .items:nth-child(2n) {
  background-color: #f5f5f5;
}

.work-link {
  display: flex;
  align-items: center;
}

.contant {
  margin-left: 40px;
}

.contant-bgr {
  margin-right: 40px;
}

/* Section 4  */
.text-title {
  display: flex;
  justify-content: center;
}

.text-client {
  font-size: 36px;
  line-height: 1.39;
  text-align: center;

  color: rgba(0, 0, 0, 0.8);
}

.client-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 900px;
  gap: 24px;
  margin-left: auto;
  margin-right: auto;
}

/* Section 5 */
.do {
  display: flex;
  justify-content: center;
}

.text-do {
  width: 860px;
  font-size: 36px;
  line-height: 1.39;

  color: rgba(0, 0, 0, 0.8);
}

/* ///////////////////////////////////////////////// */
/* Cards */
.card {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  overflow: hidden;
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card-set > .item {
  flex-basis: calc(100% / 3 - 20px);
}

.card-content {
  padding: 10px;
}

.card-heading {
  padding-bottom: 16px;
}

/* Pricing.html */
.section-work {
  background-color: #ae1332;
}
.work-title {
    margin-bottom: 14px;

  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.04em;
  text-align: center;

  color: #ffffff;
}

.work-text {
  margin-bottom: 44px;
  

  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  text-align: center;

  color: #ffffff;
}

.work-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    gap: 20px;

    text-align: center;
    padding: 0;
}

.work-link {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  width: 335px;
}

.work-btn {
  margin-right: 14px;
  width: 136px;
  padding: 12px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.04em;

  color: #ffffff;
  border-radius: 200px;
}

.red {
  background: #ae1332;
}

.green {
  background: #a1c864;
}

.yelow {
  background: #f5ce13;
}
.work-btn-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  width: 145px;
  text-align: initial;

  color: #000000;
}
- mobile: верстка гумова, стає адаптивною на 375px;
- tablet: 768px;
- desktop: 1280px
